{% extends "app/home.html" %} 
{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>product</title>
  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'product.css' %}">
  {% endblock extra_css %}
</head>
<body>


{% block sachyhoc%}
<section>
   <div class="product"> 
    <span></span> 
    <h3>SÁCH Y HỌC - THỰC DƯỠNG</h3> 
    <span></span> 
    </div> 
    <div aria-label="Sách Mới" class="book-list" role="list"> 
    <!-- Book 1 --> 
    {% for book in books %} 
      {% if book.category.name == 'Sách Y học - Thực Dưỡng' %}
        <div class="book-item" role="listitem"> 
          <a href="{% url 'product_detail' book.id %}">
            <img src="{{ book.image.url|default:'/static/images/default.jpg' }}" alt="{{ book.title }}" class="book-img">
          </a>
            <h4>{{ book.author }}</h4>
            <h3>{{ book.title }}</h3>
            <div class="price-container">
                {% if book.discount > 0 %}
                <p class="price">{{ book.discounted_price|floatformat:"0" }} <span class="currency">₫</span></p>
                <p class="original-price">{{ book.price|floatformat:"0" }} ₫</p>
                <span class="discount">-{{ book.discount }}%</span>
                {% else %}
                <p class="price">{{ book.price|floatformat:"0" }} <span class="currency">₫</span></p>
                {% endif %}
            </div>
            <form action="{% url 'add_to_cart' book.id %}" method="post" class="add-to-cart-form" data-book-id="{{ book.id }}">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="preorder-btn"><i class="fas fa-shopping-cart"></i> Thêm</button>
            </form>
        </div>  
        {% endif %}
        {% empty %}
        <div class="empty-book-list">
            <p>Hiện chưa có sách nào</p>
        </div>
        {% endfor %}
    </div>
  </section>
  {% endblock sachyhoc%}